<h1>Thai address demo</h1>

<div>
  <label>Postcode</label>
  <input #txtPostcode (keyup)="onPostcodeUpdate(txtPostcode.value)" maxlength="5"/>
  {{postcode}}
  {{postcodeValid ? 'valid': 'invalid'}}
</div>

<div>
  <label>Province</label>
  <select [(ngModel)]="selectedProvince" (change)="onProvinceChange()">
    <option *ngFor="let p of availableProvinces" [value]="p.id">{{p.name}}</option>
  </select>
  {{selectedProvince}}
</div>


<div>
  <label>District</label>
  <select [(ngModel)]="selectedDistrict" (change)="onDistrictChange()" [disabled]="selectedProvince === ''">
    <option *ngFor="let d of availableDistricts" value="{{d.id}}">{{d.name}}</option>
  </select>
  {{selectedDistrict}}
</div>


<div>
  <label>Subdistrict</label>
  <select [(ngModel)]="selectedSubdistrict" [disabled]="selectedDistrict === ''">
    <option *ngFor="let s of availableSubdistricts" value="{{s.id}}">{{s.name}}</option>
  </select>
  {{selectedSubdistrict}}
</div>